body {
  background: #1dad9b;
}

.App .card {
  background: white;
  box-shadow: 0px 20px 40px 0px rgba(21, 97, 110, 0.08);
  border-radius: 20px;
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
}

.App .card-body {
  margin: 40px 40px;
}

.App .container {
  font-family: varela round;
  margin-left: auto;
  margin-right: auto;
}
