.weather-display h1 {
  font-size: 80px;
  padding: 20px 0px 0px 0px;
}

.weather h2 {
  font-size: 60px;
  padding: 0px 0px 30px 0px;
}

.weather-display h4 {
  font-size: 25px;
  font-weight: 200;
}

h3 {
  position: absolute;
  top: 200px;
  right: 100px;
  width: 150px;
  height: 150px;
}
.weather,
.date-display {
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
}

.weather,
.humidity,
.wind {
  opacity: 0.7;
}

.fahrenheit {
  font-size: 20px;
}

.temp-display {
  font-size: 80px;
}
